*/*/.DS_Store
!*/*/build
*/*/build/*
*/*/*commitall
*/*/*makemyhtml
*/*/*pushall

*/.DS_Store
!*/*/build
*/build/*
*/*commitall
*/*makemyhtml
*/*pushall

.DS_Store
!build
build/*
*commitall
*makemyhtml
*pushall



